<mdb-card>
  <mdb-card-header class="text-center py-4">
      <h5>
        <strong>Maak een Poll</strong>
      </h5>
    </mdb-card-header>
  
  
    <!--Card content-->
<mdb-card-body class="px-lg-5 pt-0">
  
      <!-- Form -->
      <form (ngSubmit)="onSubmit()"  #pollForm="ngForm" class="text-center" style="color: #757575;">
        <p>{{ model | json }}</p>
        <div class="md-form mt-3">
          <input type="text" id="materialFormName" class="form-control" [(ngModel)]="model.naam" name="PollNaam"  mdbInput>
          <label for="materialContactFormName">PollNaam</label>
        </div>
  

        <div class="md-form">
            <input type="text" id="materialFormVraag" class="form-control" [(ngModel)]="model.vraag" name="Vraag"  mdbInput>
            <label for="materialContactFormVraag">Vraag</label>
          </div>
      
        <button click="goToDetails(model.pollID)" mdbBtn color="info" block="true" class="my-4" type="submit" [disabled]="!pollForm.form.valid || submitted"  >Maak een Poll</button>

  
      </form>
      <!-- Form -->
  
    </mdb-card-body>
  
  </mdb-card>
