<section class="section feature-box">

    <!--Section heading-->
    <h1 class="section-heading pt-4">Wat is RealPoll?</h1>
    <!--Section description-->
    <p class="section-description lead grey-text">Met RealPoll kan je Polls maken vrienden uitnodigen en stemmen op polls</p>
  
    <!--Grid row-->
    <div class="row features-small pt-2">
  
        <!--Grid column-->
        <div class="col-lg-5 mb-r center-on-small-only">
            <img src="assets\logo.png"  class="img-fluid z-depth-0">
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-7">
  
            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                    
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Aantal Polls</h5>
                    <p>{{aantalPolls}}</p>
                </div>
            </div>
            <!--Grid row-->
  
            <!--Grid row-->
            <div class="row pb-3">
                <div class="col-2 col-md-1">
                  
                </div>
                <div class="col-10">
                    <h5 class="feature-title">Aantal Gebruikers</h5>
                    <p>{{aantal}}</p>
                   
                </div>
            </div>
            <!--Grid row-->
  
         
  
        </div>
        <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
